contextily==1.6.2
geopandas==1.1.1
instructor==1.11.2
ipython==8.12.3
matplotlib==3.10.6
networkx==3.5
numpy==2.3.2
ollama==0.5.3
openai==1.102.0
ortools==9.14.6206
osmnx==2.0.6
pandas==2.3.2
pydantic==2.11.7
pydantic_ai==0.8.1
pyproj==3.7.1
Shapely==2.1.1
tabulate==0.9.0
tqdm==4.67.1
